<p></p>
<p class="red">(H) Factors contributing to the accident/incident</p>

  <div class="card">
    <div class="card-block">
      <form class="k-form">
          <div class="row">

              <div class="x_panel"><div class="content">
              <label class="k-form-inline">
                <span>(a) Indicate any sub-standard actions which had contributed to the accident/incident(Tick more than one box if necessary)</span>
              </label>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-12 col-xs-12">
                      <p style="line-height: 2em;">
                          <span>Ha01</span>
                          <input id="ha01" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="ha01" class="k-checkbox-label" >Failure to warn</label>
                          <br>
                          <span>Ha03</span>
                          <input id="ha03" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="ha03" class="k-checkbox-label" >Improper loading</label>
                          <br>
                          <span>Ha05</span>
                          <input id="ha05" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="ha05" class="k-checkbox-label" >Using defective equipment</label>
                          <br>
                          <span>Ha07</span>
                          <input id="ha07" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="ha07" class="k-checkbox-label" >Using improper equipment</label>
                          <br>
                          <span>Ha09</span>
                          <input id="ha09" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="ha09" class="k-checkbox-label" >Improper position for job</label>
                          <br>
                          <span>Ha11</span>
                          <input id="ha11" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="ha11" class="k-checkbox-label" >Under influence of alcohol/drugs</label>
                          <br>
                          <span>Ha13</span>
                          <input id="ha13" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="ha13" class="k-checkbox-label" >Horseplay</label>
                          <br>
                          <span>Ha15</span>
                          <input id="ha15" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="ha15" class="k-checkbox-label" >Operating without permission</label>
                          <br>
                          <span>Ha17</span>
                          <input id="ha17" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="ha17" class="k-checkbox-label" >Working on incomplete scaffold/work platform</label>
                          <br>
                          <span>Ha18</span>
                          <input id="ha18" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="ha18" class="k-checkbox-label" >Others(Please Specify):</label>
                          <br>
                         <label class="k-form-field" ><input class="k-textbox" placeholder="" /></label>
                      </p>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                         <p style="line-height: 2em;">
                             <span>Ha02</span>
                             <input id="ha02" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="ha02" class="k-checkbox-label" >Removing safety devices</label>
                             <br>
                             <span>Ha04</span>
                             <input id="ha04" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="ha04" class="k-checkbox-label" >Failure to secure</label>
                             <br>
                             <span>Ha06</span>
                             <input id="ha06" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="ha06" class="k-checkbox-label" >Improper lifting</label>
                             <br>
                             <span>Ha08</span>
                             <input id="ha08" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="ha08" class="k-checkbox-label" >Servicing equipment in operation</label>
                             <br>
                             <span>Ha10</span>
                             <input id="ha10" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="ha10" class="k-checkbox-label" >Using improper equipment</label>
                             <br>
                             <span>Ha12</span>
                             <input id="ha12" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="ha12" class="k-checkbox-label" >Working at Improper speed</label>
                             <br>
                             <span>Ha14</span>
                             <input id="ha14" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="ha14" class="k-checkbox-label" >Making safety devices inoperable</label>
                             <br>
                             <span>Ha16</span>
                             <input id="ha16" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="ha16" class="k-checkbox-label" >Failure to use personal protective equipment</label>

                         </p>
                   </div>
              </div>
            </div></div>

              <div class="x_panel"><div class="content">
              <label class="k-form-inline">
              <span>(b) Indicate any sub-standard conditions which had contributed to the accident/incident(Tick more than one box if necessary)</span>
              </label>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-12 col-xs-12">
                      <p style="line-height: 2em;">
                          <span>Hb01</span>
                          <input id="hb01" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="hb01" class="k-checkbox-label" >Inadequate guards/barriers</label>
                          <br>
                          <span>Hb03</span>
                          <input id="hb03" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="hb03" class="k-checkbox-label" >Congestion</label>
                          <br>
                          <span>Hb05</span>
                          <input id="hb05" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="hb05" class="k-checkbox-label" >Poor house keeping</label>
                          <br>
                          <span>Hb07</span>
                          <input id="hb07" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="hb07" class="k-checkbox-label" >Lack of guard-rails</label>
                          <br>
                          <span>Hb09</span>
                          <input id="hb09" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="hb09" class="k-checkbox-label" >Inadequate/excess lighting</label>
                          <br>
                          <span>Hb11</span>
                          <input id="hb11" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="hb11" class="k-checkbox-label" >Fire and explosive hazard</label>
                          <br>
                          <span>Hb13</span>
                          <input id="hb13" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="hb13" class="k-checkbox-label" >Inadequate/improper personal protective equipment</label>
                          <br>
                          <span>Hb15</span>
                          <input id="hb15" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="hb15" class="k-checkbox-label" >Damaged scaffold & catch fan & nylon mesh</label>
                          <br>
                          <span>Hb17</span>
                          <input id="hb17" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="hb17" class="k-checkbox-label" >Working process tampered</label>
                          <br>
                          <span>Hb19</span>
                          <input id="hb19" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="hb19" class="k-checkbox-label" >Lack of workplatform</label>
                          <br>
                          <span>Hb20</span>
                          <input id="hb20" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="hb20" class="k-checkbox-label" >Others(Please Specify):</label>
                          <br>
                          <label class="k-form-field" ><input class="k-textbox" placeholder="" /></label>
                      </p>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                         <p style="line-height: 2em;">
                             <span>Hb02</span>
                             <input id="hb02" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="hb02" class="k-checkbox-label" >Defective-tools/equipment</label>
                             <br>
                             <span>Hb04</span>
                             <input id="hb04" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="hb04" class="k-checkbox-label" >Unsafe access</label>
                             <br>
                             <span>Hb06</span>
                             <input id="hb06" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="hb06" class="k-checkbox-label" >Inadequate ventilation</label>
                             <br>
                             <span>Hb08</span>
                             <input id="hb08" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="hb08" class="k-checkbox-label" >Unsafe footing, slippery ground</label>
                             <br>
                             <span>Hb10</span>
                             <input id="hb10" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="hb10" class="k-checkbox-label" >Inadequate warning system</label>
                             <br>
                             <span>Hb12</span>
                             <input id="hb12" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="hb12" class="k-checkbox-label" >Adverse weather</label>
                             <br>
                             <span>Hb14</span>
                             <input id="hb14" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="hb14" class="k-checkbox-label" >Hazardous environmental conditions(smoke,dust etc.)</label>
                             <br>
                             <span>Hb16</span>
                             <input id="hb16" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="hb16" class="k-checkbox-label" >Inadequate protective canopy</label>
                             <br>
                             <span>Hb18</span>
                             <input id="hb18" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="hb18" class="k-checkbox-label" >Overloading</label>

                         </p>
                   </div>
                   <div class="col-xs-12 col-sm-4">
                      <p style="line-height: 2em;">

                     </p>
                   </div>
              </div>
            </div></div>

              <div class="x_panel"><div class="content">
              <label class="k-form-inline">
                <span>(c) Indicate any personal factors which had contributed to the accident/incident(Tick more than one box if necessary)</span>
              </label>
              <div class="col-xs-24 col-sm-12">
                <div class="col-xs-12 col-sm-4">
                      <p style="line-height: 2em;">
                          <span>Hc01</span>
                          <input id="hc01" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="hc01" class="k-checkbox-label" >Inadequate ability</label>
                          <br>
                          <span>Hc04</span>
                          <input id="hc04" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="hc04" class="k-checkbox-label" >Stress</label>
                          <br>
                          <span>Hc07</span>
                          <input id="hc07" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="hc07" class="k-checkbox-label" >Tiredness</label>
                          <br>
                          <span>Hc10</span>
                          <input id="hc10" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="hc10" class="k-checkbox-label" >Underestimation of risk</label>
                          <br>
                          <span>Hc11</span>
                          <input id="hc11" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="hc11" class="k-checkbox-label" >Others(Please Specify):</label>
                          <br>
                          <label class="k-form-field" ><input class="k-textbox" placeholder="" /></label>
                      </p>
                </div>
                <div class="col-xs-12 col-sm-4">
                         <p style="line-height: 2em;">
                             <span>Hc02</span>
                             <input id="hc02" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="hc02" class="k-checkbox-label" >Lack of knowledge</label>
                             <br>
                             <span>Hc05</span>
                             <input id="hc05" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="hc05" class="k-checkbox-label" >Improper motivation</label>
                             <br>
                             <span>Hc08</span>
                             <input id="hc08" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="hc08" class="k-checkbox-label" >Sick</label>
                         </p>
                   </div>
                   <div class="col-xs-12 col-sm-4">
                      <p style="line-height: 2em;">
                          <span>Hc03</span>
                          <input id="hc03" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="hc03" class="k-checkbox-label" >Lack of skill</label>
                          <br>
                          <span>Hc06</span>
                          <input id="hc06" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="hc06" class="k-checkbox-label" >Lack of training</label>
                          <br>
                          <span>Hc09</span>
                          <input id="hc09" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="hc09" class="k-checkbox-label" >Lack of communication</label>
                     </p>
                   </div>
              </div>
            </div></div>

              <div class="x_panel"><div class="content">
              <label class="k-form-inline">
                <span>(d) Indicate any organisational factors which had contributed to the accident/incident(Tick more than one box if necessary)</span>
              </label>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-12 col-xs-12">
                      <p style="line-height: 2em;">
                          <span>Hd01</span>
                          <input id="hd01" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="hd01" class="k-checkbox-label" >Inadequate engineering</label>
                          <br>
                          <span>Hd03</span>
                          <input id="hd03" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="hd03" class="k-checkbox-label" >Inadequate maintenance</label>
                          <br>
                          <span>Hd05</span>
                          <input id="hd05" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="hd05" class="k-checkbox-label" >Inadequate tools/equipment</label>
                          <br>
                          <span>Hd07</span>
                          <input id="hd07" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="hd07" class="k-checkbox-label" >Inadequate work standards</label>
                          <br>
                          <span>Hd09</span>
                          <input id="hd09" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="hd09" class="k-checkbox-label" >Inadequate examination of equipment</label>
                          <br>
                          <span>Hd10</span>
                          <input id="hd10" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="hd10" class="k-checkbox-label" >Others(Please Specify):</label>
                          <br>
                          <label class="k-form-field" ><input class="k-textbox" placeholder="" /></label>
                      </p>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                     <p style="line-height: 2em;">
                         <span>Hd02</span>
                         <input id="hd02" type="checkbox"class="k-checkbox" checked="checked">
                         <label for="hd02" class="k-checkbox-label" >Inadequate leadership/supervision</label>
                         <br>
                         <span>Hd04</span>
                         <input id="hd04" type="checkbox"class="k-checkbox" checked="checked">
                         <label for="hd04" class="k-checkbox-label" >Unrealistic work schedule</label>
                         <br>
                         <span>Hd06</span>
                         <input id="hd06" type="checkbox"class="k-checkbox" checked="checked">
                         <label for="hd06" class="k-checkbox-label" >Wear & tear</label>
                         <br>
                         <span>Hd08</span>
                         <input id="hd08" type="checkbox"class="k-checkbox" checked="checked">
                         <label for="hd08" class="k-checkbox-label" >Inadequate purchasing/materials management</label>
                       </p>
                </div>
              </div>
            </div></div>

              <div class="x_panel"><div class="content">
              <label class="k-form-inline">
                <span>(e) Assess the probability of recurrence of the accident/incident if the situation remains unchanged.</span>
              </label>
              <div class="col-xs-24 col-sm-12">
                <div class="col-xs-12 col-sm-4">
                      <p style="line-height: 2em;">
                          <span>He01</span>
                          <input id="he01" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="he01" class="k-checkbox-label" >Negligible</label>
                          <br>
                          <span>He04</span>
                          <input id="he04" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="he04" class="k-checkbox-label" >Likely</label>
                      </p>
                </div>
                <div class="col-xs-12 col-sm-4">
                         <p style="line-height: 2em;">
                             <span>He02</span>
                             <input id="he02" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="he02" class="k-checkbox-label" >Unlikely</label>
                             <br>
                             <span>He05</span>
                             <input id="he05" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="he05" class="k-checkbox-label" >Almost certain</label>
                         </p>
                   </div>
                   <div class="col-xs-12 col-sm-4">
                      <p style="line-height: 2em;">
                          <span>He03</span>
                          <input id="he03" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="he03" class="k-checkbox-label" >Fair</label>
                     </p>
                   </div>
              </div>
            </div></div>

              <div class="x_panel"><div class="content">
              <label class="k-form-inline">
                <span>(f) Indicate any corrective action that should be taken to reduce the probability of recurrence of the accident/incident</span>
              </label>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label class="k-form-field" ><input class="k-textbox" placeholder="" /></label>
                </div>
              </div>
            </div></div>
        </div>
                
      </form>
    </div>
  </div>

