<p class="red">
  Part 1 - Background Information of the Accident/Incident
</p>
<div kendoRippleContainer>
  <div class="card">
    <div class="card-block">
      <form class="k-form">
            <div class="row">
              <label class="k-form-field">
                <p>1. Where and when did the accident/incident happen? </p>
                <p>(Refer to DCMP-F787 Parts G(a) and G(c)))</p>
                <label class="k-form-field">
                  <input class="k-textarea" placeholder="" />
                </label>
              </label>
              <label class="k-form-field">
                <p>2. Who was injured/suffered/involved with the accident/incident? </p>
                <p>(Refer to DCMP-F787 Parts F(b), F(c), I(a), I(b) and I(c)))</p>
                <label class="k-form-field">
                  <input class="k-textarea" placeholder="" />
                </label>
              </label>
              <label class="k-form-field">
                <p>3. What activities were being carried out at the time of accident/incident? </p>
                <p>(Refer to DCMP-F787 Parts G(d)))</p>
                <label class="k-form-field">
                  <input class="k-textarea" placeholder="" />
                </label>
              </label>
              <label class="k-form-field">
                <p>4. What agent and/or machinery were involved? </p>
                <p>(Refer to DCMP-F787 Parts G(h),G(I) and K)</p>
                <label class="k-form-field">
                  <input class="k-textarea" placeholder="" />
                </label>
              </label>
              <label class="k-form-field">
                <p>5. How did accident/incident happen? </p>
                <p>(Refer to DCMP-F787 Parts G(I) and G(J))</p>
                <label class="k-form-field">
                  <input class="k-textarea" placeholder="" />
                </label>
              </label>

            </div>
      </form>
    </div>
  </div>
</div>
