<p></p>
<p class="red">(C) Information about the site</p>

  <div class="card">
    <div class="card-block">
      <form class="k-form">
          <div class="x_panel"><div class="content">
        <label class="k-form-field">
          <span>(a)Stage of work related to the accident/incident: (can tick only on box)</span>
        </label>
        <div class="row">
            
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="col-md-6 col-sm-12 col-xs-12">
                  <p style="line-height: 2em;">
                      <span>C01</span>
                      <input type="checkbox" id="C01" class="k-checkbox" checked="checked">
                      <label class="k-checkbox-label" for="C01">Earthworks/Road & Underground Services</label><br/>
                      <span>C03</span>
                      <input type="checkbox" id="C03" class="k-checkbox" checked="checked">
                      <label class="k-checkbox-label" for="C03">Superstructure</label><br/>
                      <span>C05</span>
                      <input type="checkbox" id="C05" class="k-checkbox" checked="checked">
                      <label class="k-checkbox-label" for="C05">Finishing</label><br/>
                      <span>C07</span>
                      <input type="checkbox" id="C07" class="k-checkbox" checked="checked">
                      <label class="k-checkbox-label" for="C07">Demolition</label><br/>
                      <span>C09</span>
                      <input type="checkbox" id="C09" class="k-checkbox" checked="checked">
                      <label class="k-checkbox-label" for="C09">Piling / ELSW (Foundation)</label><br/>
                  </p>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <p style="line-height: 2em;">
                      <span>C02</span>
                      <input type="checkbox" id="C02" class="k-checkbox" checked="checked">
                      <label class="k-checkbox-label" for="C02">Substructure / foundation (Building)</label><br/>
                      <span>C04</span>
                      <input type="checkbox" id="C04" class="k-checkbox" checked="checked">
                      <label class="k-checkbox-label" for="C04">Maintenance</label><br/>
                      <span>C06</span>
                      <input type="checkbox" id="C06" class="k-checkbox" checked="checked">
                      <label class="k-checkbox-label" for="C06">Site Clearance</label><br/>
                      <span>C08</span>
                      <input type="checkbox" id="C08" class="k-checkbox" checked="checked">
                      <label class="k-checkbox-label" for="C08">Site Formation</label><br/>
                      <span>C10</span>
                      <input type="checkbox" id="C10" class="k-checkbox" checked="checked">
                      <label class="k-checkbox-label" for="C10">Others</label>
                    </p>
                </div>
            </div>
          
        </div>
      </div></div>
        <div class="row">
            <div class="col-xs-36 col-sm-12">
                <h4>The stage of contract is closely related to the type of contract. Normally, </h4>
                <p>C01 (Earthworks/Road & Underground Services Works):civil enginering contract;</p>
                <p>C09 (Piling / ELSW): foundation contract;</p>
                <p>C02 (Substructure/foundation), C03 (Superstructure) or C05 (finishing Stage):building contract;</p>
                <p>C07 (Demolition):demolition contract;</p>
                <p>C08 (Site Formation):civil engineering contract</p>
              </div>
        </div>
      </form>
    </div>
  </div>

