<p></p>
<p class="red">(J) Indicate any personal protective equipment worn or used at the time of the injury (Tick more than one box if appropriate)</p>

  <div class="card">
    <div class="card-block">
      <form class="k-form">
        <div class="row">
            <div class="x_panel"><div class="content">
              <label class="k-form-inline">
                <span>(a) Indicate any personal protective equipment worn or used at the time of the injury.(Tick more than one box if appropriate)</span>
              </label>
            
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-8 col-sm-12 col-xs-12">
                      <p style="line-height: 2em;">
                          <span>Ja01</span>
                          <input id="Ja01" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="Ja01" class="k-checkbox-label" >Gloves</label>
                          <br>
                          <span>Ja03</span>
                          <input id="Ja03" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="Ja03" class="k-checkbox-label" >Safety shoes/boots</label>
                          <br>
                          <span>Ja05</span>
                          <input id="Ja05" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="Ja05" class="k-checkbox-label" >Safety Harmess</label>
                          <br>
                          <span>Ja07</span>
                          <input id="Ja07" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="Ja07" class="k-checkbox-label" >Goggles</label>
                          <br>
                          <span>Ja09</span>
                          <input id="Ja09" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="Ja09" class="k-checkbox-label" >Breathing apparatus</label>
                          <br>
                          <span>Ja10</span>
                          <input id="Ja10" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="Ja10" class="k-checkbox-label" >Safety Helmet</label>
                          <span>Chin strap fastened:</span>
                          <input id="Ja10y" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="Ja10y" class="k-checkbox-label" >Yes</label>
                          <input id="Ja10n" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="Ja10n" class="k-checkbox-label" >No</label>
                          <br>
                          <span>Ja11</span>
                          <input id="Ja11" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="Ja11" class="k-checkbox-label" >Reflective clothing</label>
                          <br>
                          <span>Ja12</span>
                          <input id="Ja12" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="Ja12" class="k-checkbox-label" >Heat-resistant apron</label>
                          <br>
                          <span>Ja13</span>
                          <input id="Ja13" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="Ja13" class="k-checkbox-label" >Impermeable work clothing for chemicals/asbestos</label>
                          <br>
                          <span>Ja14</span>
                          <input id="Ja14" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="Ja14" class="k-checkbox-label" >Life jacket</label>
                          <br>
                          <span>Ja15</span>
                          <input id="Ja15" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="Ja15" class="k-checkbox-label" >Others(Please Specify):</label>
                        </p>
                </div>
                <br>
                <div class="col-md-4 col-sm-12 col-xs-12">
                         <p style="line-height: 2em;">
                             <span>Ja02</span>
                             <input id="Ja02" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="Ja02" class="k-checkbox-label" >Safety belt</label>
                             <br>
                             <span>Ja04</span>
                             <input id="Ja04" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="Ja04" class="k-checkbox-label" >Independent life line</label>
                             <br>
                             <span>Ja06</span>
                             <input id="Ja06" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="Ja06" class="k-checkbox-label" >Ear defenders</label>
                             <br>
                             <span>Ja08</span>
                             <input id="Ja08" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="Ja08" class="k-checkbox-label" >Protective mask</label>
                             <br>
                             <span>&nbsp;</span>
                             <label>&nbsp;</label>
                             <br>
                             <span>&nbsp;</span>
                             <label>&nbsp;</label>
                         </p>
                   </div>
              </div>
            </div></div>
            <div class="x_panel"><div class="content">
              <label class="k-form-field">
                <span>(b) Indicate any other relevant safety measures taken at the time of the injury.</span>
                <input class="k-textarea" />
              </label>
            </div></div>
        </div>
      </form>
    </div>
  </div>

