<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Form 787 (2015-00059)</h2>
            <div class="clearfix"></div>
          </div> 
          <div class="x_content">
              <section class="well">
              <kendo-tabstrip>
                  <kendo-tabstrip-tab [title]="'Part (A)'" [selected]="true">
                    <ng-template kendoTabContent>
                      <app-f787-part-a></app-f787-part-a>
                    </ng-template>
                  </kendo-tabstrip-tab>
                  <kendo-tabstrip-tab [title]="'Part (B)'">
                    <ng-template kendoTabContent>
                      <app-f787-part-b></app-f787-part-b>
                    </ng-template>
                  </kendo-tabstrip-tab>
                  <kendo-tabstrip-tab [title]="'Part (C)'">
                    <ng-template kendoTabContent>
                      <app-f787-part-c></app-f787-part-c>
                    </ng-template>
                  </kendo-tabstrip-tab>
                  <kendo-tabstrip-tab [title]="'Part (D)'">
                    <ng-template kendoTabContent>
                      <app-f787-part-d></app-f787-part-d>
                    </ng-template>
                  </kendo-tabstrip-tab>
                  <kendo-tabstrip-tab [title]="'Part (E)'">
                    <ng-template kendoTabContent>
                      <app-f787-part-e></app-f787-part-e>
                    </ng-template>
                  </kendo-tabstrip-tab>
                  <kendo-tabstrip-tab [title]="'Part (F)'" >
                    <ng-template kendoTabContent>
                      <app-f787-part-f></app-f787-part-f>
                    </ng-template>
                  </kendo-tabstrip-tab>
                  <kendo-tabstrip-tab [title]="'Part (G)'">
                    <ng-template kendoTabContent>
                      <app-f787-part-g></app-f787-part-g>
                    </ng-template>
                  </kendo-tabstrip-tab>
                  <kendo-tabstrip-tab [title]="'Part (H)'">
                    <ng-template kendoTabContent>
                      <app-f787-part-h></app-f787-part-h>
                    </ng-template>
                  </kendo-tabstrip-tab>
                  <kendo-tabstrip-tab [title]="'Part (I)'" >
                    <ng-template kendoTabContent>
                      <app-f787-part-i></app-f787-part-i>
                    </ng-template>
                  </kendo-tabstrip-tab>
                  <kendo-tabstrip-tab [title]="'Part (J)'">
                    <ng-template kendoTabContent>
                      <app-f787-part-j></app-f787-part-j>
                    </ng-template>
                  </kendo-tabstrip-tab>
                  <kendo-tabstrip-tab [title]="'Part (K)'" >
                    <ng-template kendoTabContent>
                      <app-f787-part-k></app-f787-part-k>
                    </ng-template>
                  </kendo-tabstrip-tab>
                  <kendo-tabstrip-tab [title]="'Part (L)'" >
                    <ng-template kendoTabContent>
                      <app-f787-part-l></app-f787-part-l>
                    </ng-template>
                  </kendo-tabstrip-tab>
              </kendo-tabstrip>
              </section>
          </div>
        </div>
    </div>
</div>
