<p></p>
<p class="red">(F) Details about the injured worker(if applicable)</p>

  <div class="card">
    <div class="card-block">
      <form class="k-form-inline">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">

              <label class="k-form-inline">
                  <div class="x_panel"><div class="content">
                <span>(a) Fa00</span>
                <input id="fa00" type="checkbox" class="k-checkbox" checked="checked">
                <label for="fa00"class="k-checkbox-label" >No injury</label>
              </div></div>

                <div class="x_panel"><div class="content">
                <span>(b) Fb01 Age of injured:</span>
                <input class="k-textbox" placeholder="(Years Old)" /><br>
                <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                            <p style="line-height: 2em;">
                                <span>Fb02 Sex of injured:</span>
                                <input id="fb02m" type="checkbox" class="k-checkbox" checked="checked">
                                <label for="fb02m"class="k-checkbox-label" >Male</label>
                                <input id="fb02f" type="checkbox" class="k-checkbox" checked="checked">
                                <label for="fb02f"class="k-checkbox-label" >Female</label>
                                <br>
                                <span>Fb03 Relevant experience in this occupation(to nearest year):</span>
                                <input class="k-textbox" placeholder="(Years)" />
                                <br>
                                <span>Fb04 Mandays the injured had been working on site up to the date of this report:</span>
                                <input class="k-textbox" placeholder="(Days)" />
                                <br>
                                <span>Fb05 Name of injured:</span>
                                <input class="k-textbox" placeholder="" />
                                <br>
                                <span>Fb06 Experience of injured:</span>
                                <input id="fb06n" type="checkbox" class="k-checkbox" checked="checked">
                                <label for="fb06n"class="k-checkbox-label" >N</label>
                                <input id="fb06p" type="checkbox" class="k-checkbox" checked="checked">
                                <label for="fb06p"class="k-checkbox-label" >P</label>
                                <input id="fb06e" type="checkbox" class="k-checkbox" checked="checked">
                                <label for="fb06e"class="k-checkbox-label" >Experienced</label>
                                <br>
                            </p>
                      </div>
                </div>
              </div></div>
              </label>
            </div>



            <div class="x_panel"><div class="content">
            <label class="k-form">
              <span>(c) Occupation:(tick one box)</span>
            </label>
            <br>
            <div class="col-xs-36 col-sm-12">
              <div class="col-xs-18 col-sm-6">
                  <p style="line-height: 2em;">
                      <span>Fc01</span>
                      <input id="fc01" type="checkbox"class="k-checkbox" checked="checked">
                      <label for="fc01" class="k-checkbox-label" >Bar bender/steebender</label><br>
                      <span>Fc03</span>
                      <input id="fc03" type="checkbox" class="k-checkbox" checked="checked">
                      <label for="fc03" class="k-checkbox-label">Drainlayer</label><br>
                      <span>Fc05</span>
                      <input id="fc05" type="checkbox" class="k-checkbox" checked="checked">
                      <label for="fc05" class="k-checkbox-label" >Levelller</label><br>
                      <span>Fc07</span>
                      <input id="fc07" type="checkbox" class="k-checkbox" checked="checked">
                      <label for="fc07" class="k-checkbox-label" >Carpenter/Joiner</label><br>
                      <span>Fc09</span>
                      <input id="fc09" type="checkbox"  class="k-checkbox" checked="checked">
                      <label for="fc09" class="k-checkbox-label">Metal Scaffolder</label><br>
                      <span>Fc11</span>
                      <input id="fc11" type="checkbox" class="k-checkbox" checked="checked">
                      <label for="fc11" class="k-checkbox-label">Truck driver</label><br>
                      <span>Fc13</span>
                      <input id="fc13" type="checkbox" class="k-checkbox" checked="checked">
                      <label for="fc13" class="k-checkbox-label" >Blacksmith</label><br>
                      <span>Fc15</span>
                      <input id="fc15" type="checkbox"  class="k-checkbox" checked="checked">
                      <label for="fc15" class="k-checkbox-label">Metal Worker</label><br>
                      <span>Fc17</span>
                      <input id="fc17" type="checkbox" class="k-checkbox" checked="checked">
                      <label for="fc17" class="k-checkbox-label">Excavator</label><br>
                      <span>Fc19</span>
                      <input id="fc19" type="checkbox" class="k-checkbox" checked="checked">
                      <label for="fc19" class="k-checkbox-label" >Painter/Decorator</label><br>
                      <span>Fc21</span>
                      <input id="fc21" type="checkbox"  class="k-checkbox" checked="checked">
                      <label for="fc21" class="k-checkbox-label">Terrazo & Granolithic Worker</label><br>
                      <span>Fc23</span>
                      <input id="fc23" type="checkbox" class="k-checkbox" checked="checked">
                      <label for="fc23" class="k-checkbox-label">Mason</label><br>
                      <span>Fc25</span>
                      <input id="fc25" type="checkbox" class="k-checkbox" checked="checked">
                      <label for="fc25" class="k-checkbox-label" >Structural Steel Erector</label><br>
                      <span>Fc27</span>
                      <input id="fc27" type="checkbox"  class="k-checkbox" checked="checked">
                      <label for="fc27" class="k-checkbox-label">Asphalter (Road Construction)</label><br>
                      <span>Fc29</span>
                      <input id="fc29" type="checkbox" class="k-checkbox" checked="checked">
                      <label for="fc29" class="k-checkbox-label">Marble Worker</label><br>
                      <span>Fc31</span>
                      <input id="fc31" type="checkbox" class="k-checkbox" checked="checked">
                      <label for="fc31" class="k-checkbox-label" >Mechanical Filter</label><br>
                      <span>Fc33</span>
                      <input id="fc33" type="checkbox"  class="k-checkbox" checked="checked">
                      <label for="fc33" class="k-checkbox-label">Fire Service Mechanic</label><br>
                      <span>Fc35</span>
                      <input id="fc35" type="checkbox" class="k-checkbox" checked="checked">
                      <label for="fc35" class="k-checkbox-label">Cable Jointer(Power)</label><br>
                      <span>Fc37</span>
                      <input id="fc37" type="checkbox" class="k-checkbox" checked="checked">
                      <label for="fc37" class="k-checkbox-label" >Surveyor</label><br>
                  </p>
                  </div>
                  <div class="col-xs-18 col-sm-6">
                    <p style="line-height: 2em;">
                      <span>Fc02</span>
                      <input id="fc02" type="checkbox" class="k-checkbox" checked="checked">
                      <label for="fc02" class="k-checkbox-label" >Concretor</label><br>
                      <span>Fc04</span>
                      <input id="fc04" type="checkbox" class="k-checkbox" checked="checked">
                      <label for="fc04" class="k-checkbox-label" >Plumber</label><br>
                      <span>Fc06</span>
                      <input id="fc06" type="checkbox"class="k-checkbox" checked="checked">
                      <label for="fc06" class="k-checkbox-label">Bamboo Scaffolder</label><br>
                      <span>Fc08</span>
                      <input id="fc08" type="checkbox" class="k-checkbox" checked="checked">
                      <label for="fc08" class="k-checkbox-label">Carpenter (Formwork)</label><br>
                      <span>Fc10</span>
                      <input id="fc10" type="checkbox" class="k-checkbox" checked="checked">
                      <label for="fc10" class="k-checkbox-label" >Plant & Equipment Operator</label><br>
                      <span>Fc12</span>
                      <input id="fc12" type="checkbox"  class="k-checkbox" checked="checked">
                      <label for="fc12" class="k-checkbox-label">Rock-breaking driller</label><br>
                      <span>Fc14</span>
                      <input id="fc14" type="checkbox" class="k-checkbox" checked="checked">
                      <label for="fc14" class="k-checkbox-label">General Welder</label><br>
                      <span>Fc16</span>
                      <input id="fc16" type="checkbox" class="k-checkbox" checked="checked">
                      <label for="fc16" class="k-checkbox-label" >Glazier</label><br>
                      <span>Fc18</span>
                      <input id="fc18" type="checkbox"  class="k-checkbox" checked="checked">
                      <label for="fc18" class="k-checkbox-label">Labourer</label><br>
                      <span>Fc20</span>
                      <input id="fc20" type="checkbox" class="k-checkbox" checked="checked">
                      <label for="fc20" class="k-checkbox-label">Plasterer</label><br>
                      <span>Fc22</span>
                      <input id="fc22" type="checkbox" class="k-checkbox" checked="checked">
                      <label for="fc22" class="k-checkbox-label" >Brickayer</label><br>
                      <span>Fc24</span>
                      <input id="fc24" type="checkbox"  class="k-checkbox" checked="checked">
                      <label for="fc24" class="k-checkbox-label">Structural Steel Welder</label><br>
                      <span>Fc26</span>
                      <input id="fc26" type="checkbox" class="k-checkbox" checked="checked">
                      <label for="fc26" class="k-checkbox-label">Rigger/Metal Formork Erector</label><br>
                      <span>Fc28</span>
                      <input id="fc28" type="checkbox" class="k-checkbox" checked="checked">
                      <label for="fc28" class="k-checkbox-label" >Construction Plant Mechanic</label><br>
                      <span>Fc30</span>
                      <input id="fc30" type="checkbox"  class="k-checkbox" checked="checked">
                      <label for="fc30" class="k-checkbox-label">Bectrician</label><br>
                      <span>Fc32</span>
                      <input id="fc32" type="checkbox" class="k-checkbox" checked="checked">
                      <label for="fc32" class="k-checkbox-label">Refrigeration/AC/Ventilation Mechanic</label><br>
                      <span>Fc34</span>
                      <input id="fc34" type="checkbox" class="k-checkbox" checked="checked">
                      <label for="fc34" class="k-checkbox-label">Lift and Escalator Mechanic</label><br>
                      <span>Fc36</span>
                      <input id="fc36" type="checkbox"  class="k-checkbox" checked="checked">
                      <label for="fc36" class="k-checkbox-label">Foreman</label><br>
                    </p>
                  </div>
            </div>
            <div class="col-xs-36 col-sm-12">
              <div class="col-xs-36 col-sm-12">
                <p style="line-height: 2em;">
                    <span>Fc38</span>
                    <input type="checkbox" class="k-checkbox" checked="checked">
                    <label class="k-checkbox-label" >Others:(Please Specify)</label>
                    <label class="k-form-field" ><input class="k-textbox" placeholder="" />
                    </label>
                </p>
              </div>
            </div>
          </div></div>

            <div class="x_panel"><div class="content">
            <label class="k-form">
              <span>(d) Status of Injured:</span>
            </label>
            <br>
            <div class="col-xs-36 col-sm-12">
                <div class="col-xs-18 col-sm-6">
                    <p style="line-height: 2em;">
                        <span>Fd01</span>
                        <input id="fd01" type="checkbox"class="k-checkbox" checked="checked">
                        <label for="fd01" class="k-checkbox-label" >Subcontracted worker</label>
                        <br>
                        <span>Fd03</span>
                        <input id="fd03" type="checkbox" class="k-checkbox" checked="checked">
                        <label for="fd03" class="k-checkbox-label">Direct labour</label>
                        <br>
                        <span>Fd05</span>
                        <input id="fd05" type="checkbox" class="k-checkbox" checked="checked">
                        <label for="fd05" class="k-checkbox-label" >Not employed (e.g.public)</label>
                    </p>
                </div>
                <div class="col-xs-18 col-sm-6">
                      <p style="line-height: 2em;">
                        <span>Fd02</span>
                        <input id="fd02" type="checkbox" class="k-checkbox" checked="checked">
                        <label for="fd02" class="k-checkbox-label" >Nominated Subcontracted worker</label>
                        <br>
                        <span>Fd04</span>
                        <input id="fd04" type="checkbox" class="k-checkbox" checked="checked">
                        <label for="fd04" class="k-checkbox-label" >Self employed</label>
                      </p>
                </div>
            </div>
          </div></div>

            <div class="x_panel"><div class="content">
            <label class="k-form">
              <span>(e) Had the injured person undergone formal training?</span>
            </label>
            <br>
            <div class="col-xs-36 col-sm-12">
              <p style="line-height: 2em;">
                        <span>Fe01</span>
                        <input id="fe01" type="checkbox"class="k-checkbox" checked="checked">
                        <label for="fe01" class="k-checkbox-label" >Yes</label>
                        <span>Fe02</span>
                        <input id="fe02" type="checkbox" class="k-checkbox" checked="checked">
                        <label for="fe02" class="k-checkbox-label" >No</label>
              </p>
            </div>
            <div class="col-xs-24 col-sm-12">
              <p style="line-height: 2em;">
                  <span>If the answer was yes, indicate what type of training had been given:</span>
              </p>
            </div>
            <div class="col-xs-36 col-sm-12">
                  <div class="col-xs-20 col-sm-7">
                        <p style="line-height: 2em;">
                            <span>Fe03</span>
                            <input id="fe03" type="checkbox"class="k-checkbox" checked="checked">
                            <label for="fe03" class="k-checkbox-label" >Craft training</label>
                            <br>
                            <span>Fe05</span>
                            <input id="fe05" type="checkbox"class="k-checkbox" checked="checked">
                            <label for="fe05" class="k-checkbox-label" >Silver Card Training</label>
                            <br>
                            <span>Fe07</span>
                            <input id="fe07" type="checkbox"class="k-checkbox" checked="checked">
                            <label for="fe07" class="k-checkbox-label" >Induction Training</label>
                            <br>
                            <span>Fe09</span>
                            <input id="fe09" type="checkbox"class="k-checkbox" checked="checked">
                            <label for="fe09" class="k-checkbox-label" >Safety Training Course for Site Management Staff</label>
                            <br>
                            <span>Fe11</span>
                            <input id="fe11" type="checkbox"class="k-checkbox" checked="checked">
                            <label for="fe11" class="k-checkbox-label" >Safety and Health Supervisor(Construction) Course</label>
                        </p>
                  </div>
                  <div class="col-xs-16 col-sm-5">
                        <p style="line-height: 2em;">
                          <span>Fe04</span>
                          <input id="fe04" type="checkbox" class="k-checkbox" checked="checked">
                          <label for="fe04" class="k-checkbox-label" >Green Card Training</label>
                          <br>
                          <span>Fe06</span>
                          <input id="fe06" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="fe06" class="k-checkbox-label" >Specified Trade Training</label>
                          <br>
                          <span>Fe08</span>
                          <input id="fe08" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="fe08" class="k-checkbox-label" >Tool Box Talk</label>
                          <br>
                          <span>Fe10</span>
                          <input id="fe10" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="fe10" class="k-checkbox-label" >Construction Safety Supervisor Course</label>
                        </p>
                  </div>
            </div>
          </div></div>

            <div class="x_panel"><div class="content">
            <label class="k-form">
              <span>(f) Hospitalization</span>
            </label>
            <br>
            <div class="col-xs-36 col-sm-12">
              <div class="col-xs-12 col-sm-4">
                    <p style="line-height: 2em;">
                  <span>Ff01</span>
                  <input type="checkbox" class="k-checkbox" checked="checked">
                  <label class="k-checkbox-label" >Yes</label>
                  <br>
                  <span>Check-in date:</span>
                  <kendo-datepicker placeholder="DD/MM/YYYY" [format]="'dd/MM/yyyy'" [value]=""></kendo-datepicker>
                  <br>
                  <span>Discharge date:</span>
                  <kendo-datepicker placeholder="DD/MM/YYYY" [format]="'dd/MM/yyyy'" [value]=""></kendo-datepicker>
                </p>
              </div>
              <div class="col-xs-12 col-sm-4">
                    <p style="line-height: 2em;">
                      <span>Ff02</span>
                      <input type="checkbox" class="k-checkbox" checked="checked">
                      <label class="k-checkbox-label" >No</label>
                    </p>
              </div>
              <div class="col-xs-12 col-sm-4">
                    <p style="line-height: 2em;">
                      <span>Ff03</span>
                      <input type="checkbox" class="k-checkbox" checked="checked">
                      <label class="k-checkbox-label" >To be ascertained</label>
                    </p>
              </div>
            </div>
          </div></div>

            <div class="x_panel"><div class="content">
            <label class="k-form-inline">
              <span>(g) Mandays lost due to the accident (up to the date of this report) FG01</span>
              <kendo-datepicker placeholder="DD/MM/YYYY" [format]="'dd/MM/yyyy'" [value]=""></kendo-datepicker>
            </label>
            <div class="col-xs-24 col-sm-12">
              <label class="k-form-inline">
                <span>   End date for the reimburse claim from accident:</span>
                <kendo-datepicker placeholder="DD/MM/YYYY" [format]="'dd/MM/yyyy'" [value]=""></kendo-datepicker>
              </label>
            </div>
          </div></div>
        </div>
      </form>
    </div>
  </div>

