<app-safety-alert-report-menu></app-safety-alert-report-menu>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <div class="col-md-12 col-sm-12 col-xs-12 reportTitle">Report 8: Severity rate of accidents (in number of man-day lost per 100,000 man-hours worked) of HA New Works contracts by year</div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <form class="form-horizontal form-label-left">
              <div class="form-group row">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                </div>
              </div>
            </form>
            <div class="form-group row">
              <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <button  (click)="closeSearch()" class="btn btn-primary" >Clear</button>
                  <button  (click)="closeSearch()" class="btn btn-success" >Search</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>