<p class="red">
  Part 3 - Risk Control Action Plan
</p>
<div kendoRippleContainer>
  <div class="card">
    <div class="card-block">
      <form class="k-form">
            <div class="row">
               <label class="k-form-field">
                  <p>25. Have similar accidents/incidents happened before? Give details. </p>
                  <label class="k-form-field">
                    <input class="k-textarea" placeholder="" />
                  </label>
                </label>

                <label class="k-form-field">
                  <p>26. Which risk control measure should be implemented in the long and short term? </p>
                </label>
                  <p>(Refer to DCMP-F787 Parts H(f) and J(b))</p>
                  <p></p>
                  <p>Briefly explain the situation</p>
                  <label class="k-form-field">
                    <input class="k-textarea" placeholder="" />
                  </label>
                  <div class="col-xs-36 col-sm-12">
                    <div class="col-xs-12 col-sm-4">
                      <span>Control measure</span><br>
                      <span>1</span><textarea class="k-textarea"></textarea><br>
                      <span>2</span><textarea class="k-textarea"></textarea><br>
                      <span>3</span><textarea class="k-textarea"></textarea>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <span>Completion Date</span><br>
                        <span></span><textarea class="k-textarea"></textarea><br>
                        <span></span><textarea class="k-textarea"></textarea><br>
                        <span></span><textarea class="k-textarea"></textarea>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <span>Person Responsible</span><br>
                        <span></span><textarea class="k-textarea"></textarea><br>
                        <span></span><textarea class="k-textarea"></textarea><br>
                        <span></span><textarea class="k-textarea"></textarea>
                    </div>
                  </div>



                <label class="k-form-field">
                  <p>27. Which risk assessments and safe working procedures need to be reviewed and updated? </p>
                </label>
                <div class="col-xs-36 col-sm-12">
                    <div class="col-xs-12 col-sm-4">
                      Name of risk assessment and operating procedure<br>
                      <span>1</span><textarea class="k-textarea"></textarea><br>
                      <span>2</span><textarea class="k-textarea"></textarea><br>
                      <span>3</span><textarea class="k-textarea"></textarea><br>
                      <span>4</span><textarea class="k-textarea"></textarea>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        Completion Date<br>
                        <span></span><textarea class="k-textarea"></textarea><br>
                        <span></span><textarea class="k-textarea"></textarea><br>
                        <span></span><textarea class="k-textarea"></textarea><br>
                        <span></span><textarea class="k-textarea"></textarea>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        Person Responsible<br>
                        <span></span><textarea class="k-textarea"></textarea><br>
                        <span></span><textarea class="k-textarea"></textarea><br>
                        <span></span><textarea class="k-textarea"></textarea><br>
                        <span></span><textarea class="k-textarea"></textarea>
                    </div>
                </div>



                <label class="k-form-field">
                  <p>28. Have the details of the accident/incident and the investigation finding been recorded and analyzed? Are there any trends or common causes which suggest the need for further investigation?</p>
                  <label class="k-form-field">
                    <input class="k-textarea" placeholder="" />
                  </label>
                </label>

                <label class="k-form-field">
                  <p>29. Signed on behalf of the investigation team.</p>
                </label>
                <form class="form-horizontal form-label-left">
                  <div class="form-group row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" class="k-textbox form-control form-control-lg"/>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Post</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" class="k-textbox form-control form-control-lg"/>
                    </div>
                  </div>
                </form>

                <label class="k-form-field">
                  <p>31. The findings of this investigation need to be communicated to the following client's representatives, and managers.</p>
                  <div class="col-xs-36 col-sm-12">
                    <div class="col-xs-12 col-sm-4">
                      <span>Name</span><br>
                      <span>1</span><textarea class="k-textarea"></textarea><br>
                      <span>2</span><textarea class="k-textarea"></textarea><br>
                      <span>3</span><textarea class="k-textarea"></textarea><br>
                      <span>4</span><textarea class="k-textarea"></textarea>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <span>Post</span><br>
                        <span></span><textarea class="k-textarea"></textarea><br>
                        <span></span><textarea class="k-textarea"></textarea><br>
                        <span></span><textarea class="k-textarea"></textarea><br>
                        <span></span><textarea class="k-textarea"></textarea>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <span>Date</span><br>
                        <span></span><textarea class="k-textarea"></textarea><br>
                        <span></span><textarea class="k-textarea"></textarea><br>
                        <span></span><textarea class="k-textarea"></textarea><br>
                        <span></span><textarea class="k-textarea"></textarea>
                    </div>
                  </div>

                </label>

              </div>
            </form>




          </div>
</div>
<div class="row">
    <div class="col-xs-36 col-sm-12">
      <button  (click)="closeExport()" class="btn btn-success" >Preview F-787</button>
      <button  (click)="closeExport()" class="btn btn-success" >Save</button>
      <button  (click)="closeExport()" class="btn btn-success" >Submit</button>
      <button  (click)="closeExport()" class="btn btn-success" >Exit without Saving</button>
    </div>
</div>

<p>The "Download aspdf" button will appear after the record is saved.</p>
