<p class="red">
  Part 2 - Accident/Incident Analysis
</p>
<p>
  Relevant to the accident/incident
</p>
<p>
  Abnormal condition but not directly related to the accident/incident
</p>
<p>
  Normal condition
</p>
<p>
  Not Applicable
</p>
<div kendoRippleContainer>
  <div class="card">
    <div class="card-block">
      <form class="k-form">
            <div class="row">
              <label class="k-form-field">
                <span>Layer 1-Unsafe Acts</span>
                <p>6. Was it an unintentional behaviour due to attention failure, technique error, or memory failure? (click to see the explanation) </p>
                <p>(Refer to DCMP-F787 Parts H(a))</p>
                <input id="safe01" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe01" class="k-checkbox-label" >No</label>
                <input id="safe02" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe02" class="k-checkbox-label" >Yes</label>
                <br>
                <p></p>
                <p>Briefly explain the situation</p>
                <label class="k-form-field">
                  <input class="k-textarea" placeholder="" />
                </label>
              </label>
              <label class="k-form-field">
                <p>7. Did the actions(s) of the person proceed as intended and yet the chosen plan proves inadequate to achieve the desired end state?</p>
                <p>(Refer to DCMP-F787 Parts H(a))</p>
                <input id="safe01" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe01" class="k-checkbox-label" >No</label>
                <input id="safe02" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe02" class="k-checkbox-label" >Yes</label>
                <br>
                <p></p>
                <p>Briefly explain the situation</p>
                <label class="k-form-field">
                  <input class="k-textarea" placeholder="" />
                </label>
              </label>
              <label class="k-form-field">
                <p>8. Was there a perceptual error? </p>
                <p>(Refer to DCMP-F787 Parts H(a))</p>
                <input id="safe01" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe01" class="k-checkbox-label" >No</label>
                <input id="safe02" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe02" class="k-checkbox-label" >Yes</label>
                <br>
                <p></p>
                <p>Briefly explain the situation</p>
                <label class="k-form-field">
                  <input class="k-textarea" placeholder="" />
                </label>
              </label>
              <label class="k-form-field">
                <p>9. Were there adequate safe working procedures and yet they were not followed? </p>
                <p>(Refer to DCMP-F787 Parts H(a))</p>
                <input id="safe01" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe01" class="k-checkbox-label" >No</label>
                <input id="safe02" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe02" class="k-checkbox-label" >Yes</label>
                <br>
                <p></p>
                <p>Briefly explain the situation</p>
                <label class="k-form-field">
                  <input class="k-textarea" placeholder="" />
                </label>
              </label>
              <label class="k-form-field">
                <p>10. Was the accident/incident related to the physical environment? </p>
                <p>(Refer to DCMP-F787 Parts H(b))</p>
                <input id="safe01" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe01" class="k-checkbox-label" >No</label>
                <input id="safe02" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe02" class="k-checkbox-label" >Yes</label>
                <br>
                <p></p>
                <p>Briefly explain the situation</p>
                <label class="k-form-field">
                  <input class="k-textarea" placeholder="" />
                </label>
              </label>
              <label class="k-form-field">
                <p>11. Was there anything unusual about the working conditions of work equipment, machinery, and workplace? </p>
                <p>(Refer to Q4 of Part1 above and DCMP-F787 Parts G(h), H(a),K(a) and K(b))</p>
                <input id="safe01" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe01" class="k-checkbox-label" >No</label>
                <input id="safe02" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe02" class="k-checkbox-label" >Yes</label>
                <br>
                <p></p>
                <p>Briefly explain the situation</p>
                <label class="k-form-field">
                  <input class="k-textarea" placeholder="" />
                </label>
              </label>
              <label class="k-form-field">
                <p>12. Was there any hazard caused by others? </p>
                <p>(Refer to DCMP-F787 Parts H(a))</p>
                <input id="safe01" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe01" class="k-checkbox-label" >No</label>
                <input id="safe02" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe02" class="k-checkbox-label" >Yes</label>
                <br>
                <p></p>
                <p>Briefly explain the situation</p>
                <label class="k-form-field">
                  <input class="k-textarea" placeholder="" />
                </label>
              </label>
              <label class="k-form-field">
                <p>13. Was the person in adverse mental state? </p>
                <p>(Refer to DCMP-F787 Parts H(a) and H(c))</p>
                <input id="safe01" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe01" class="k-checkbox-label" >No</label>
                <input id="safe02" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe02" class="k-checkbox-label" >Yes</label>
                <br>
                <p></p>
                <p>Briefly explain the situation</p>
                <label class="k-form-field">
                  <input class="k-textarea" placeholder="" />
                </label>
              </label>
              <label class="k-form-field">
                <p>14. Was the person in adverse physiological state? </p>
                <p>(Refer to DCMP-F787 Parts H(a) and H(c))</p>
                <input id="safe01" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe01" class="k-checkbox-label" >No</label>
                <input id="safe02" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe02" class="k-checkbox-label" >Yes</label>
                <br>
                <p></p>
                <p>Briefly explain the situation</p>
                <label class="k-form-field">
                  <input class="k-textarea" placeholder="" />
                </label>
              </label>
              <label class="k-form-field">
                <p>15. Was the task temporarily or permanently, person in adverse mental state? </p>
                <p>(Refer to DCMP-F787 Parts H(a) and H(c))</p>
                <input id="safe01" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe01" class="k-checkbox-label" >No</label>
                <input id="safe02" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe02" class="k-checkbox-label" >Yes</label>
                <br>
                <p></p>
                <p>Briefly explain the situation</p>
                <label class="k-form-field">
                  <input class="k-textarea" placeholder="" />
                </label>
              </label>
              <label class="k-form-field">
                <p>16. Were coordination, communication, and planning among team members insufficient? </p>
                <p>(Refer to DCMP-F787 Parts H(a) and H(c))</p>
                <input id="safe01" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe01" class="k-checkbox-label" >No</label>
                <input id="safe02" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe02" class="k-checkbox-label" >Yes</label>
                <br>
                <p></p>
                <p>Briefly explain the situation</p>
                <label class="k-form-field">
                  <input class="k-textarea" placeholder="" />
                </label>
              </label>





              <label class="k-form-field">
                <p>17. Was there any self-imposed stress? </p>
                <p>(Refer to DCMP-F787 Parts H(a) and H(c))</p>
                <input id="safe01" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe01" class="k-checkbox-label" >No</label>
                <input id="safe02" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe02" class="k-checkbox-label" >Yes</label>
                <br>
                <p></p>
                <p>Briefly explain the situation</p>
                <label class="k-form-field">
                  <input class="k-textarea" placeholder="" />
                </label>
              </label>

              <label class="k-form-field">
                <p>18. Did the person receive adequate supervision during the task? </p>
                <p>(Refer to DCMP-F787 Parts H(a) and H(c))</p>
                <input id="safe01" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe01" class="k-checkbox-label" >No</label>
                <input id="safe02" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe02" class="k-checkbox-label" >Yes</label>
                <br>
                <p></p>
                <p>Briefly explain the situation</p>
                <label class="k-form-field">
                  <input class="k-textarea" placeholder="" />
                </label>
              </label>
              <label class="k-form-field">
                <p>19. Was the operation schedule/plan appropriate? </p>
                <p>(Refer to DCMP-F787 Parts H(d))</p>
                <input id="safe01" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe01" class="k-checkbox-label" >No</label>
                <input id="safe02" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe02" class="k-checkbox-label" >Yes</label>
                <br>
                <p></p>
                <p>Briefly explain the situation</p>
                <label class="k-form-field">
                  <input class="k-textarea" placeholder="" />
                </label>
              </label>
              <label class="k-form-field">
                <p>20. Were there problems unknown by supervisors(and thus allowed to continue uncorrected)? </p>
                <p>(Refer to DCMP-F787 Parts H(a) and H(c))</p>
                <input id="safe01" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe01" class="k-checkbox-label" >No</label>
                <input id="safe02" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe02" class="k-checkbox-label" >Yes</label>
                <br>
                <p></p>
                <p>Briefly explain the situation</p>
                <label class="k-form-field">
                  <input class="k-textarea" placeholder="" />
                </label>
              </label>
              <label class="k-form-field">
                <p>21. Did the supervisor violate no existing rules or regulations? </p>
                <p>(Refer to DCMP-F787 Parts H(d))</p>
                <input id="safe01" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe01" class="k-checkbox-label" >No</label>
                <input id="safe02" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe02" class="k-checkbox-label" >Yes</label>
                <br>
                <p></p>
                <p>Briefly explain the situation</p>
                <label class="k-form-field">
                  <input class="k-textarea" placeholder="" />
                </label>
              </label>
              <label class="k-form-field">
                <p>22. Did the organization provide sufficient resources? </p>
                <p>(Refer to DCMP-F787 Parts H(d))</p>
                <input id="safe01" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe01" class="k-checkbox-label" >No</label>
                <input id="safe02" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe02" class="k-checkbox-label" >Yes</label>
                <br>
                <p></p>
                <p>Briefly explain the situation</p>
                <label class="k-form-field">
                  <input class="k-textarea" placeholder="" />
                </label>
              </label>
              <label class="k-form-field">
                <p>23. Was the organizational climate relevant to the accident/incident? </p>
                <p>(Refer to DCMP-F787 Parts H(a) and H(c))</p>
                <input id="safe01" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe01" class="k-checkbox-label" >No</label>
                <input id="safe02" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe02" class="k-checkbox-label" >Yes</label>
                <br>
                <p></p>
                <p>Briefly explain the situation</p>
                <label class="k-form-field">
                  <input class="k-textarea" placeholder="" />
                </label>
              </label>
              <label class="k-form-field">
                <p>24. Was the organization implementing a comprehensive safety management system? </p>
                <p>(Refer to DCMP-F787 Parts H(d))</p>
                <input id="safe01" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe01" class="k-checkbox-label" >No</label>
                <input id="safe02" type="checkbox"class="k-checkbox" checked="checked">
                <label for="safe02" class="k-checkbox-label" >Yes</label>
                <br>
                <p></p>
                <p>Briefly explain the situation</p>
                <label class="k-form-field">
                  <input class="k-textarea" placeholder="" />
                </label>
              </label>
              <button kendoButton [primary]="true">Preview before Submission</button>



            </div>
      </form>
    </div>
  </div>
</div>
