<p></p>
<p class="red">(I) Information about the injury(if applicable)</p>
<p class="red">If more than one injury to the same person, ten use the codes(next to the boxes) to list the nature of the injury and the body part in (c).</p>

  <div class="card">
    <div class="card-block">
      <form class="k-form">
        <div class="row">
            <div class="x_panel"><div class="content">
              <label class="k-form-inline">
                <span>(a) Indicate the nature of the injury.(Tick one box if only one injury, if more than one injury then go to (c))</span>
              </label>
              <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <p style="line-height: 2em;">
                          <span>Ia01</span>
                          <input id="Ia01" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="Ia01" class="k-checkbox-label" >Bum, scald</label>
                          <br>
                          <span>Ia03</span>
                          <input id="Ia03" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="Ia03" class="k-checkbox-label" >Amputation</label>
                          <br>
                          <span>Ia05</span>
                          <input id="Ia05" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="Ia05" class="k-checkbox-label" >Internal injury</label>
                          <br>
                          <span>Ia07</span>
                          <input id="Ia07" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="Ia07" class="k-checkbox-label" >Crush</label>
                          <br>
                          <span>Ia09</span>
                          <input id="Ia09" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="Ia09" class="k-checkbox-label" >Abrasion, cut, bruise, laceration</label>
                          <br>
                          <span>Ia11</span>
                          <input id="Ia11" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="Ia11" class="k-checkbox-label" >Radiation</label>
                          <br>
                          <span>Ia12</span>
                          <input id="Ia12" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="Ia12" class="k-checkbox-label" >Others(Please Specify):</label>
                          <br>
                          <label class="k-form-field" ><input class="k-textbox" placeholder="" /></label>
                        </p>
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                         <p style="line-height: 2em;">
                             <span>Ia02</span>
                             <input id="Ia02" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="Ia02" class="k-checkbox-label" >Fracture/dislocation</label>
                             <br>
                             <span>Ia04</span>
                             <input id="Ia04" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="Ia04" class="k-checkbox-label" >Asphyxiation</label>
                             <br>
                             <span>Ia06</span>
                             <input id="Ia06" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="Ia06" class="k-checkbox-label" >Sprain,strain,twist</label>
                             <br>

                             <span>Ia08</span>
                             <input id="Ia08" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="Ia08" class="k-checkbox-label" >Electrocution</label>
                             <br>
                             <span>Ia10</span>
                             <input id="Ia10" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="Ia10" class="k-checkbox-label" >Entry of foreign object into body</label>


                         </p>
                   </div>
              </div>
            </div></div>
              <div class="x_panel"><div class="content">
              <label class="k-form-inline">
                <span>(b) Indicate the body part affected by the injury(Tick one box if only one injury, if more than one injury then go to (c))</span>
              </label>
              <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-6 col-sm-12 col-xs-12">
                      <p style="line-height: 2em;">
                          <span>Ib01</span>
                          <input id="Ib01" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="Ib01" class="k-checkbox-label" >Head</label>
                          <br>
                          <span>Ib03</span>
                          <input id="Ib03" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="Ib03" class="k-checkbox-label" >Hand(including fingers)</label>
                          <br>
                          <span>Ib05</span>
                          <input id="Ib05" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="Ib05" class="k-checkbox-label" >General or systemic (e.g. poisoning)</label>
                          <br>
                          <span>Ib07</span>
                          <input id="Ib07" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="Ib07" class="k-checkbox-label" >Ear</label>
                          <br>
                          <span>Ib09</span>
                          <input id="Ib09" type="checkbox"class="k-checkbox" checked="checked">
                          <label for="Ib09" class="k-checkbox-label" >Leg(including hip & ankle)</label>


                        </p>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                         <p style="line-height: 2em;">
                             <span>Ib02</span>
                             <input id="Ib02" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="Ib02" class="k-checkbox-label" >Spine (including neck)</label>
                             <br>
                             <span>Ib04</span>
                             <input id="Ib04" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="Ib04" class="k-checkbox-label" >Eye</label>
                             <br>
                             <span>Ib06</span>
                             <input id="Ib06" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="Ib06" class="k-checkbox-label" >Foot(including toes)</label>
                             <br>
                             <span>Ib08</span>
                             <input id="Ib08" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="Ib08" class="k-checkbox-label" >Truck(including chest, abdomen,pelvis,waist)</label>
                             <br>
                             <span>Ib10</span>
                             <input id="Ib10" type="checkbox"class="k-checkbox" checked="checked">
                             <label for="Ib10" class="k-checkbox-label" >Arm (including shoulder & wrist)</label>
                         </p>
                   </div>
              </div>
            </div></div>
        </div>
      </form>
      <form class="k-form-inline">
          <div class="x_panel"><div class="content">
            <label class="k-form-inline">
              <span>(c) If more than one injury, indicate nature of injuries and body parts affected in boxes below. E.g. in the case of sprain to ankle and laceration of hand enter la06,lb09 in the "First Injury" box and la09, lb03 in the "Second Injury" box.</span>
            </label>  
              <label class="k-form-field">
                <span>First Injury</span>
                <input class="k-textarea" />
              </label>
              <label class="k-form-field">
                <span>Second Injury</span>
                <input class="k-textbox" placeholder="" />
              </label>
              <label class="k-form-field">
                <span>Third Injury</span>
                <input class="k-textbox" placeholder="" />
              </label>
              <label class="k-form-field">
                <span>Fourth Injury</span>
                <input class="k-textbox" placeholder="" />
              </label>
          </div></div>  
      </form>

    </div>
  </div>

