<p></p>
<p class="red">(D) This box to be completed by HD Contract Manager</p>

  <div class="card">
    <div class="card-block">
          <div class="row">
              <div class="col-sm-4">
                <label>To: CRC via CRC secretary</label>
                <select>
                    <option value="" disabled selected>(Post)</option>
                    <option value="smp1">SM/P1</option>
                    <option value="smp3">SM/P3</option>
                </select>
              </div>
              <div class="col-sm-3">
              </div>
              <div class="col-sm-5">
                <label>Note:</label>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-4">
                <label>cc. SM/SH</label>
              </div>
              <div class="col-sm-3">
              </div>
              <div class="col-sm-3" >
                <p>Trigger report to CRC for review</p>
              </div>
              <div class="col-sm-2">
                <input type="checkbox" id="trfvy" class="k-checkbox" checked="checked">
                <label class="k-checkbox-label" for="trfvy">Yes</label>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-4">
              </div>
              <div class="col-sm-6">
              </div>
              <div class="col-sm-2">
                <input type="checkbox" id="trfvn" class="k-checkbox" checked="checked">
                <label class="k-checkbox-label" for="trfvn">No</label>
              </div>
          </div>
          <p>From: Contract Manager</p>
        <form class="k-form-inline">
          <div class="row">
            <div class="col-xs-8 col-sm-4">
            </div>
            <div class="col-xs-8 col-sm-8">
              <fieldset>
                <legend></legend>
                <label class="k-form-field">
                  <span>Contract Manager</span>
                </label>
                <div class="col-sm-6">
                <label class="k-form-field">
                  <span>Name</span>
                  <input class="k-textbox" placeholder="" />
                </label>
                <label class="k-form-field">
                  <span>Post</span>
                  <input class="k-textbox" placeholder="" />
                </label>
                <label class="k-form-field">
                  <span>Date</span>
                  <kendo-datepicker placeholder="DD/MM/YYYY" [format]="'dd/MM/yyyy'" [value]="today"></kendo-datepicker>
                  <span></span>
                </label>
              </div>
              <div class="col-sm-2">
              </div>
              </fieldset>
            </div>
          </div>
          </form>
    </div>
  </div>

