<p></p>
<p class="red">(K) Construction Machinery</p>

  <div class="card">
    <div class="card-block">
        
          <form class="k-form">
              <div class="x_panel"><div class="content">
                <div class="row">
                  <label class="k-form-inline">
                    <span>(a) Machinery involved, if any (tick one or more boxes(Note 10))</span>
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                          <p style="line-height: 2em;">
                              <span>Ka01</span>
                              <input id="Ka01" type="checkbox"class="k-checkbox" checked="checked">
                              <label for="Ka01" class="k-checkbox-label" >Skip/material hoist</label>
                              <br>
                              <span>Ka03</span>
                              <input id="Ka03" type="checkbox"class="k-checkbox" checked="checked">
                              <label for="Ka03" class="k-checkbox-label" >Bar bending machine</label>
                              <br>
                              <span>Ka05</span>
                              <input id="Ka05" type="checkbox"class="k-checkbox" checked="checked">
                              <label for="Ka05" class="k-checkbox-label" >Suspended working platform</label>
                              <br>
                              <span>Ka07</span>
                              <input id="Ka07" type="checkbox"class="k-checkbox" checked="checked">
                              <label for="Ka07" class="k-checkbox-label" >Tower crane</label>
                              <br>
                              <span>Ka09</span>
                              <input id="Ka09" type="checkbox"class="k-checkbox" checked="checked">
                              <label for="Ka09" class="k-checkbox-label" >Boring jig</label>
                              <br>
                              <span>Ka11</span>
                              <input id="Ka11" type="checkbox"class="k-checkbox" checked="checked">
                              <label for="Ka11" class="k-checkbox-label" >Oscillator</label>
                              <br>
                              <span>Ka13</span>
                              <input id="Ka13" type="checkbox"class="k-checkbox" checked="checked">
                              <label for="Ka13" class="k-checkbox-label" >Pneumatic breaker</label>
                              <br>
                              <span>Ka15</span>
                              <input id="Ka15" type="checkbox"class="k-checkbox" checked="checked">
                              <label for="Ka15" class="k-checkbox-label" >Crawler crane</label>
                              <br>
                              <span>Ka17</span>
                              <input id="Ka17" type="checkbox"class="k-checkbox" checked="checked">
                              <label for="Ka17" class="k-checkbox-label" >Air compressor/receiver</label>
                              <br>
                              <span>Ka19</span>
                              <input id="Ka19" type="checkbox"class="k-checkbox" checked="checked">
                              <label for="Ka19" class="k-checkbox-label" >Electric welding machine</label>
                              <br>
                              <span>Ka21</span>
                              <input id="Ka21" type="checkbox"class="k-checkbox" checked="checked">
                              <label for="Ka21" class="k-checkbox-label" >Circular saw</label>
                              <br>
                              <span>Ka23</span>
                              <input id="Ka23" type="checkbox"class="k-checkbox" checked="checked">
                              <label for="Ka23" class="k-checkbox-label" >Gartridge operated tool</label>
                              <br>
                              
                              <span>Ka25</span>
                              <input id="Ka25" type="checkbox"class="k-checkbox" checked="checked">
                              <label for="Ka25" class="k-checkbox-label" >Reverse Circulation Drill</label>
                              <br>
                              <span>Ka26</span>
                              <input id="Ka26" type="checkbox"class="k-checkbox" checked="checked">
                              <label for="Ka26" class="k-checkbox-label" >Others(Please Specify):</label>
                              <br>
                              <label class="k-form-field">
                                <input class="k-textbox" placeholder="" />
                              </label>
                            </p>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                            <p style="line-height: 2em;">
                                <span>Ka02</span>
                                <input id="Ka02" type="checkbox"class="k-checkbox" checked="checked">
                                <label for="Ka02" class="k-checkbox-label" >Hydraulic crane</label>
                                <br>
                                <span>Ka04</span>
                                <input id="Ka04" type="checkbox"class="k-checkbox" checked="checked">
                                <label for="Ka04" class="k-checkbox-label" >Passenger hoist/builder's lift</label>
                                <br>
                                <span>Ka06</span>
                                <input id="Ka06" type="checkbox"class="k-checkbox" checked="checked">
                                <label for="Ka06" class="k-checkbox-label" >Concrete mixer</label>
                                <br>
                                <span>Ka08</span>
                                <input id="Ka08" type="checkbox"class="k-checkbox" checked="checked">
                                <label for="Ka08" class="k-checkbox-label" >Pile driver</label>
                                <br>
                                <span>Ka10</span>
                                <input id="Ka10" type="checkbox"class="k-checkbox" checked="checked">
                                <label for="Ka10" class="k-checkbox-label" >Hydraulic hammer</label>
                                <br>
                                <span>Ka12</span>
                                <input id="Ka12" type="checkbox"class="k-checkbox" checked="checked">
                                <label for="Ka12" class="k-checkbox-label" >Rotator</label>
                                <br>
                                <span>Ka14</span>
                                <input id="Ka14" type="checkbox"class="k-checkbox" checked="checked">
                                <label for="Ka14" class="k-checkbox-label" >Mobile crane</label>
                                <br>
                                <span>Ka16</span>
                                <input id="Ka16" type="checkbox"class="k-checkbox" checked="checked">
                                <label for="Ka16" class="k-checkbox-label" >Derrick crane</label>
                                <br>
                                <span>Ka18</span>
                                <input id="Ka18" type="checkbox"class="k-checkbox" checked="checked">
                                <label for="Ka18" class="k-checkbox-label" >Lorry-mounted crane</label>
                                <br>
                                <span>Ka20</span>
                                <input id="Ka20" type="checkbox"class="k-checkbox" checked="checked">
                                <label for="Ka20" class="k-checkbox-label" >Gas welding equipment</label>
                                <br>
                                <span>Ka22</span>
                                <input id="Ka22" type="checkbox"class="k-checkbox" checked="checked">
                                <label for="Ka22" class="k-checkbox-label" >Abrasive wheel</label>
                                <br>
                                <span>Ka24</span>
                                <input id="Ka24" type="checkbox"class="k-checkbox" checked="checked">
                                <label for="Ka24" class="k-checkbox-label" >Hand tools</label>
                                <br>
                                <span></span>
                                <label class="k-checkbox-label"></label>
                                <br>
                            </p>
                      </div>
                  </div>
                  
                  
                </div>
              </div></div>
              <div class="x_panel"><div class="content">    
                <div class="row">
                    <label class="k-form-inline">
                        <span>(b) Transporting or construction machinery involved, if any (tick one box)</span>
                      </label>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="col-md-4 col-sm-4 col-xs-4">
                              <p style="line-height: 2em;">
                                  <span>Kb01</span>
                                  <input id="Kb01" type="checkbox"class="k-checkbox" checked="checked">
                                  <label for="Kb01" class="k-checkbox-label" >Dumper</label>
                                  <br>
                                  <span>Kb04</span>
                                  <input id="Kb04" type="checkbox"class="k-checkbox" checked="checked">
                                  <label for="Kb04" class="k-checkbox-label" >Loader</label>
                                  <br>
                                  <span>Kb07</span>
                                  <input id="Kb07" type="checkbox"class="k-checkbox" checked="checked">
                                  <label for="Kb07" class="k-checkbox-label" >Compactor</label>
                                  <br>
                                  <span>Kb10</span>
                                  <input id="Kb10" type="checkbox"class="k-checkbox" checked="checked">
                                  <label for="Kb10" class="k-checkbox-label" >Forklift truck</label>
                                  <br>
                                  <span>Kb11</span>
                                  <input id="Kb11" type="checkbox"class="k-checkbox" checked="checked">
                                  <label for="Kb11" class="k-checkbox-label" >Others(Please Specify):</label>
                                  <br>
                                  <label class="k-form-field">
                                    <input class="k-textbox" placeholder="" />
                                  </label>
                                </p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                                <p style="line-height: 2em;">
                                    <span>Kb02</span>
                                    <input id="Kb02" type="checkbox"class="k-checkbox" checked="checked">
                                    <label for="Kb02" class="k-checkbox-label" >Lorry</label>
                                    <br>
                                    <span>Kb05</span>
                                    <input id="Kb05" type="checkbox"class="k-checkbox" checked="checked">
                                    <label for="Kb05" class="k-checkbox-label" >Excavator</label>
                                    <br>
                                    <span>Kb08</span>
                                    <input id="Kb08" type="checkbox"class="k-checkbox" checked="checked">
                                    <label for="Kb08" class="k-checkbox-label" >Grader</label>
                                </p>
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-4">
                              <p style="line-height: 2em;">
                                  <span>Kb03</span>
                                  <input id="Kb03" type="checkbox"class="k-checkbox" checked="checked">
                                  <label for="Kb03" class="k-checkbox-label" >Truck</label>
                                  <br>
                                  <span>Kb06</span>
                                  <input id="Kb06" type="checkbox"class="k-checkbox" checked="checked">
                                  <label for="Kb06" class="k-checkbox-label" >Bulldozer</label>
                                  <br>
                                  <span>Kb09</span>
                                  <input id="Kb09" type="checkbox"class="k-checkbox" checked="checked">
                                  <label for="Kb09" class="k-checkbox-label" >Scraper</label>
                            </p>
                          </div>
                      </div>

                </div>
            </div></div>
          </form>
        
    </div>
  </div>

